.grid{
     margin: 0 auto;
     width:100%;
     @media only screen and (min-width: 600px) {
        width:90%;
     }
     @media only screen and (min-width: 1200px) {
        width:70%;
    }
}
.row{
    display:flex;
    flex-flow: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .col-small-1{
        width: 8.33%;
    }
    .col-small-2{
        width: 16.667%;
    }
    .col-small-3{
        width: 25%;
    }
    .col-small-4{
        width: 33.333%;
    }
    .col-small-5{
        width: 41.667%;
    }
    .col-small-6{
        width: 50%;
    }
    .col-small-7{
        width: 58.333%;  
    }
    .col-small-8{
        width: 66.667%;   
    }
    .col-small-9{
        width: 75%;
    }
    .col-small-10{
        width: 83.333%;
    }
    .col-small-11{
        width: 91.667%;
    }
    .col-small-12{
        width: 100%;
    }
    @media only screen and (min-width: 600px) {
        .col-medium-1{
            width: 8.33%;
        }
        .col-medium-2{
            width: 16.667%;
        }
        .col-medium-3{
            width: 25%;
        }
        .col-medium-4{
            width: 33.333%;
        }
        .col-medium-5{
            width: 41.667%;
        }
        .col-medium-6{
            width: 50%;
        }
        .col-medium-7{
            width: 58.333%;  
        }
        .col-medium-8{
            width: 66.667%;   
        }
        .col-medium-9{
            width: 75%;
        }
        .col-medium-10{
            width: 83.333%;
        }
        .col-medium-11{
            width: 91.667%;
        }
        .col-medium-12{
            width: 100%;
        }
    }
    @media only screen and (min-width: 1200px) {
        .col-large-1{
            width: 8.33%;
        }
        .col-large-2{
            width: 16.667%;
        }
        .col-large-3{
            width: 25%;
        }
        .col-large-4{
            width: 33.333%;
        }
        .col-large-5{
            width: 41.667%;
        }
        .col-large-6{
            width: 50%;
        }
        .col-large-7{
            width: 58.333%;  
        }
        .col-large-8{
            width: 66.667%;   
        }
        .col-large-9{
            width: 75%;
        }
        .col-large-10{
            width: 83.333%;
        }
        .col-large-11{
            width: 91.667%;
        }
        .col-large-12{
            width: 100%;
        }
    }
}